html{
    box-sizing: border-box;
}
*,
*:before
*:after{
    box-sizing: inherit;
}
:root{
    --gap: 1rem;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo{
    font-size: 2rem;
}
.subtitulo{
    margin: 0 0;
    font-size: 1rem;
}
.amarillo{
    color: rgb(216, 164, 52);
}
.gris{
    color: rgb(157, 157, 157);
}
/* Layout */
.contenedor{
    max-width: var(--max-width);
    align-content: center;
    margin: 0 auto;
    padding: 25px;
    width: 100%;
}

/* Primera seccion */
.primera-seccion{
    display: grid;
    grid-template-columns: 25px 60% 30%;
    column-gap: var(--gap);
    grid-template-rows: 25px 150px 5px 150px ;
    row-gap: var(--gap);
}
.primera-seccion__article{
    margin-left: 45px;
    grid-row: -3/-2;
    grid-column: 2/3;

}
.primera-seccion__img1{
    grid-row: -4/-1;
    grid-column: 2/3;
}
.primera-seccion__img2{
    grid-row: -4/-3;
    grid-column: 3/-2;
}
.primera-seccion__img3{
    grid-row: 4/5;
    grid-column: 3/3;
    width: 100%;
}

/* Segunda seccion */
.segunda-seccion{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: var(--gap);
    grid-template-rows: 5px 150px 150px;
    row-gap: var(--gap);
}
.segunda-seccion__img1{
    grid-row: 2/3;
    grid-column: 1/3;
    width: 100%;
}
.segunda-seccion__img2{
    grid-row: 2/3;
    grid-column: 3/4;
    width: 100%;
}
.segunda-seccion__img3{
    grid-row: 2/4;
    grid-column: 4/5;
    width: 100%;
}
.segunda-seccion__img4{
    grid-row: 3/4;
    grid-column: 1/2;
    height: 100%;
}
.segunda-seccion__img5{
    grid-row: 3/4;
    grid-column: 2/4;
    width: 100%;
}